<app-navbar></app-navbar>  

<div class="container">
    <div class="row>">
        <div>
            <form (ngSubmit)="onUpdate()"noValidate #f="ngForm">
                <div class="form-group">
                    <label>EDITAR PROYECTO:</label>
                    <br> 
                    <br> 
                    <label for="titulo">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="proyecto.titulo" required>
                </div>
                
                <div class="form-group"> 
                    <label for="anio">Anio del Proyecto</label>
                    <input type="text" class="form-control" id="anio" name="anio" [(ngModel)]="proyecto.anio" required>
                </div> 

                <div class="form-group"> 
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" required>
                </div> 

                <div class="form-group"> 
                    <label for="link">Pagina Web</label>
                    <input type="text" class="form-control" id="link" name="link" [(ngModel)]="proyecto.link" required>
                </div>             
                <br>
                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>