
<nav class="navbar navbar-expand-lg bg-light fixed-top  margin-bottom=30px">
  <div class="container-fluid">
    <img src="../assets/Imagenes/arg-programa1.png" class="img-fluid" width="90px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-10" >
        <li class="nav-item" >
          <a class="nav-link " href="#home"  >Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia">Experiencia</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#educacion"> Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills"> Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos"> Proyectos</a>
        </li>
      </ul>
      <form  role="login">
        <a href="https://github.com/dtaboada" target="_blank" ><img src="../assets/Imagenes/git1.png" width="40px" ></a> 
        <a href="https://ar.linkedin.com/in/diego-leandro-taboada" target="_blank" > <img src="../assets/Imagenes/in1.png" width="40px" ></a>
      </form>
      <!-- <a  href="/login" target="_parent"> <button class="btn btn-outline-success" type="submit">Login</button> </a> -->
         
      <button type="button" class="btn btn-outline-success" (click)="login()" *ngIf="!isLogged">LogIn</button>
      <button type="button" class="btn btn-outline-warning" (click)="onLogOut()" *ngIf="isLogged">LogOut</button>
   
    </div>
  </div>
</nav> 
