<!-- <app-navbar></app-navbar>   -->
<div class="theme-red" > 
  <div class="container pt-5">
      <div class="row">
        <div class="col-md-12 wow fadeInRight">
          <h2 class="fw-normal" id="experiencia" style="padding-top: 80px;">Experiencia </h2>
        <div *ngIf="isLogged"><button class="btn btn-outline-success" routerLink="/nuevaexperiencia"> Nueva Experiencia </button></div>
         
                      

          <div class="col lg 1"></div>
            <div class="col-lg-11">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let expe of experiencia">
                            
                          <ul class="timeline mt-4 pr-md-5">
                            <li>
                              <div class="title">{{expe.anioInicio}} - {{expe.anioFin}}</div>
                              
                              
                              <div class="text-center wow fadeInUp" *ngIf="isLogged">
                                  <button class="btn btn-outline-danger" style="margin-right: 10px;" (click)="delete(expe.id)">Eliminar</button>
                                  <button class="btn btn-outline-success" routerLink="/editarexperiencia/{{expe.id}}">Editar</button>
                              </div>
                              
                                
                              <div class="details" display="flex" >
                                <img src="{{expe.logo}}" alt="un logo" width="50px"  align="right">
                                <h5>{{expe.puesto}}</h5> 
                                <small class="fg-theme">{{expe.empresa}}</small>
                                <p>{{expe.descripcion}}</p>
                              </div>
                              
                             


                            </li>
                          </ul>
                                                  
                        </tr>
                    </tbody>
                </table>
            </div>
          
</div>
